/*================== Nord for Firefox ==================
Author: dpcdpc11.deviantart.com
ENJOY!
*/

/*================ GLOBAL COLORS ================*/

:root {
  --night_color1: #191a21; /* Background */
  --night_color2: #252631; /* URL bar and unselected tab */
  --night_color3: #313341; /* Hover on tab */
  --night_color4: #6273a448; /* Selected tab */

  --snow_color1: #bb76b7; /* Text on URL dropdown */
  --snow_color3: #7d9bf7; /* Selected tab text */

  --frost_color3: #6272a4; /* Text and icons */

  /* Popup panels */
  --arrowpanel-background: #191a21 !important;
  --arrowpanel-border-color: #21222c !important;
  --arrowpanel-color: #7d9bf7 !important;
  --arrowpanel-dimmed: rgba(0, 0, 0, 0.4) !important;

  /* Context Menu */
  --uc-menu-bkgnd: #191a21;
  --uc-menu-color: #7d9bf7;
  --uc-menu-dimmed: #313341;
  --uc-menu-disabled: rgba(68, 75, 99, 0.5);

  --uc-menu-separator: rgba(68, 75, 99, 0.1);
  --uc-menu-border: rgba(68, 75, 99, 0.1);
  --arrowpanel-background: #191a21 !important;
  --arrowpanel-dimmed: #313341 !important;
  --arrowpanel-dimmed-further: rgba(68, 75, 99, 0.15) !important;
  --arrowpanel-dimmed-even-further: rgba(68, 75, 99, 0.2) !important;
  --arrowpanel-border-color: rgba(68, 75, 99, 0.5) !important;
}

/*================ LIGHT THEME ================*/
:root {
}

/*================ DARK THEME ================*/
:root:-moz-lwtheme-brighttext,
toolbar[brighttext] {
}

/*================== MAIN HEADER ==================*/
toolbox#navigator-toolbox {
  border: 0 !important;
}

/*================== TABS BAR ==================*/
#titlebar #TabsToolbar {
  padding: 6px 0px 2px 6px !important;
  background: var(--night_color1) !important;
}
.titlebar-spacer[type="pre-tabs"] {
  /* border: 0 !important; */
  display: none;
}

#tabbrowser-tabs:not([movingtab]) > .tabbrowser-tab[beforeselected-visible]::after,
#tabbrowser-tabs[movingtab] > .tabbrowser-tab[visuallyselected]::before,
.tabbrowser-tab[visuallyselected]::after {
  opacity: 0 !important;
}
.tab-line {
  height: 0px !important;
}

.tabbrowser-tab {
  margin-right: 5px !important;
}
.tabbrowser-tab:not([visuallyselected="true"]),
.tabbrowser-tab:-moz-lwtheme {
  color: var(--frost_color3) !important;
}

.tabbrowser-tab > .tab-stack > .tab-background {
  border-radius: 3px !important;
}
.tabbrowser-tab > .tab-stack > .tab-background:not([selected="true"]) {
  background-color: var(--night_color2) !important;
}
.tabbrowser-tab:hover > .tab-stack > .tab-background:not([selected="true"]) {
  background-color: var(--night_color3) !important;
}

tab[selected="true"] .tab-content {
  color: var(--snow_color3) !important;
}
tab[selected="true"] .tab-background {
  background: #6273a452 !important;
  /* border: 1px solid #6273a483 !important; */
}

.tabbrowser-tab::after,
.tabbrowser-tab::before {
  border-left: 0 !important;
  opacity: 0 !important;
}

.tab-close-button {
  transition: all 0.3s ease !important;
  border-radius: 3px !important;
}
.tab-close-button:hover {
  fill-opacity: 0.2 !important;
}

/*================== BOOKMARKS TOOLBAR ==================*/
#PersonalToolbar {
  background: var(--night_color1) !important;
  color: var(--frost_color3) !important;
  padding-bottom: 6px !important;
  padding-top: 2px !important;
}
toolbarbutton.bookmark-item {
  transition: all 0.3s ease !important;
  padding: 3px 5px !important;
}
#PlacesToolbar toolbarseparator {
  -moz-appearance: none !important;
  width: 1px;
  margin: 0 8px !important;
  background-color: var(--frost_color3) !important;
}

/*================== CAPTION BUTTONS ==================*/
.titlebar-buttonbox {
  position: relative;
  margin-right: 0px;
  margin-top: -10px !important;
}
.titlebar-button {
  transition: all 0.3s ease !important;
  padding: 8px 10px !important;
  background: none !important;
}
.titlebar-button.titlebar-close {
  padding-right: 26px !important;
}
.titlebar-button > .toolbarbutton-icon {
  transition: all 0.3s ease !important;
  list-style-image: none;
  border-radius: 15px;
  width: 14px !important;
  height: 14px !important;
}

/* the 12px image renders a 10px icon, and the 10px upscaled gets rounded to 12.5, which
* rounds up to 13px, which makes the icon one pixel too big on 1.25dppx. Fix: */
@media (min-resolution: 1.2dppx) and (max-resolution: 1.45dppx) {
  .titlebar-button > .toolbarbutton-icon {
    width: 14px !important;
    height: 14px !important;
  }
}

/* 175% dpi should result in the same device pixel sizes as 150% dpi. */
@media (min-resolution: 1.45dppx) and (max-resolution: 1.7dppx) {
  .titlebar-button > .toolbarbutton-icon {
    width: 14px !important;
    height: 14px !important;
  }
}

/* 175% dpi should result in the same device pixel sizes as 150% dpi. */
@media (min-resolution: 1.7dppx) and (max-resolution: 1.95dppx) {
  .titlebar-button > .toolbarbutton-icon {
    width: 14px !important;
    height: 14px !important;
  }
}

.titlebar-button:hover > .toolbarbutton-icon {
  background: none !important;
}
.titlebar-button.titlebar-min > .toolbarbutton-icon {
  list-style-image: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="0 0 14 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><g transform="matrix(1,0,0,1,-267,-272)"><g id="min_btn"><rect x="269" y="278" width="10" height="2" style="fill:rgb(187, 118, 183);"/></g></g></svg>');
}
.titlebar-button.titlebar-max > .toolbarbutton-icon,
.titlebar-button.titlebar-restore > .toolbarbutton-icon {
  list-style-image: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="0 0 14 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><g transform="matrix(1,0,0,1,-599,-254)"><g id="max_btn" transform="matrix(0.707107,-0.707107,0.707107,0.707107,-9.17935,502.829)"><path d="M602,263L610,263L610,260.995L613,263.995L610,266.995L610,264.99L602,264.99L602,266.995L599,263.995L602,260.995L602,263Z" style="fill:rgb(187, 118, 183);"/></g></g></svg>');
}
.titlebar-button.titlebar-close > .toolbarbutton-icon {
  list-style-image: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="0 0 14 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><g transform="matrix(1,0,0,1,-632,-255)"><path id="close_btn" d="M638.979,260.586L643.221,256.343L644.635,257.757L640.393,262L644.635,266.243L643.221,267.657L638.979,263.414L634.736,267.657L633.322,266.243L637.564,262L633.322,257.757L634.736,256.343L638.979,260.586Z" style="fill:rgb(187, 118, 183);"/></g></svg>');
}
.titlebar-button.titlebar-min:hover > .toolbarbutton-icon {
  list-style-image: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="0 0 14 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><g transform="matrix(1,0,0,1,-566,-296)"><g id="min_hover_btn" transform="matrix(1,0,0,1,0,20)"><path d="M574,282L578,282L578,284L574,284L574,288L572,288L572,284L568,284L568,282L572,282L572,278L574,278L574,282Z" style="fill:rgb(214, 120, 189);"/></g></g></svg>');
}
.titlebar-button.titlebar-max:hover > .toolbarbutton-icon,
.titlebar-button.titlebar-restore:hover > .toolbarbutton-icon {
  list-style-image: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="0 0 14 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><g transform="matrix(1,0,0,1,-599,-296)"><g id="max_hover_btn" transform="matrix(1,0,0,1,33,20)"><path d="M574,282L578,282L578,284L574,284L574,288L572,288L572,284L568,284L568,282L572,282L572,278L574,278L574,282Z" style="fill:rgb(214, 120, 189);"/></g></g></svg>');
}
.titlebar-button.titlebar-close:hover > .toolbarbutton-icon {
  list-style-image: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="0 0 14 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><g transform="matrix(1,0,0,1,-631,-296)"><g id="close_hover_btn" transform="matrix(1,0,0,1,64.957,20)"><path d="M574,282L578,282L578,284L574,284L574,288L572,288L572,284L568,284L568,282L572,282L572,278L574,278L574,282Z" style="fill:rgb(214, 120, 189);"/></g></g></svg>');
}

/*================== NEW TAB BUTTON ==================*/
toolbar #tabs-newtab-button:not([disabled="true"]):not([checked]):not([open]):not(:active) > .toolbarbutton-icon,
toolbar #tabs-newtab-button:not([disabled="true"]):-moz-any([open], [checked], :hover:active) > .toolbarbutton-icon,
toolbar #tabs-newtab-button:not([disabled="true"]):-moz-any([open], [checked], :active) > .toolbarbutton-icon {
  transition: all 0.3s ease !important;
  fill: var(--frost_color3) !important;
  border-radius: 3px !important;
  background-color: var(--night_color1) !important;
}
toolbar #tabs-newtab-button:not([disabled="true"]):not([checked]):not([open]):not(:active):hover > .toolbarbutton-icon {
  background-color: var(--night_color3) !important;
}

/*================== NAV BAR ==================*/
toolbar#nav-bar {
  background: var(--night_color1) !important;
  box-shadow: none !important;
  padding-bottom: 3px !important;
}
toolbar#nav-bar toolbarbutton .toolbarbutton-icon,
toolbar#nav-bar toolbarbutton #fxa-avatar-image {
  transition: all 0.3s ease !important;
  fill: var(--frost_color3) !important;
}
#urlbar > #urlbar-background {
  border-radius: 3px !important;
  border: 0 !important;
  background: var(--night_color2) !important;
}
#urlbar:not([focused="true"]) > #urlbar-background,
#urlbar > #urlbar-input-container {
  border-radius: 3px !important;
  color: var(--frost_color3) !important;
}
#PersonalToolbar .toolbarbutton-1:not([disabled="true"]):not([checked]):not([open]):not(:active):hover,
.tabbrowser-arrowscrollbox:not([scrolledtostart="true"])::part(scrollbutton-up):hover,
.tabbrowser-arrowscrollbox:not([scrolledtoend="true"])::part(scrollbutton-down):hover,
.findbar-button:not(:-moz-any([checked="true"], [disabled="true"])):hover,
toolbarbutton.bookmark-item:not(.subviewbutton):hover:not([disabled="true"]):not([open]),
toolbar .toolbarbutton-1:not([disabled="true"]):not([checked]):not([open]):not(:active):hover > .toolbarbutton-icon,
toolbar .toolbarbutton-1:not([disabled="true"]):not([checked]):not([open]):not(:active):hover > .toolbarbutton-text,
toolbar .toolbarbutton-1:not([disabled="true"]):not([checked]):not([open]):not(:active):hover > .toolbarbutton-badge-stack {
  background: var(--night_color2) !important;
}

#PersonalToolbar .toolbarbutton-1:not([disabled="true"]):-moz-any([open], [checked], :hover:active),
.findbar-button:not([disabled="true"]):-moz-any([checked="true"], :hover:active),
toolbarbutton.bookmark-item:not(.subviewbutton):hover:active:not([disabled="true"]),
toolbarbutton.bookmark-item[open="true"],
toolbar .toolbarbutton-1:not([disabled="true"]):-moz-any([open], [checked], :hover:active) > .toolbarbutton-icon,
toolbar .toolbarbutton-1:not([disabled="true"]):-moz-any([open], [checked], :hover:active) > .toolbarbutton-text,
toolbar .toolbarbutton-1:not([disabled="true"]):-moz-any([open], [checked], :hover:active) > .toolbarbutton-badge-stack {
  background: var(--night_color3) !important;
}

:root:not([uidensity="compact"]) #back-button > .toolbarbutton-icon {
  background-color: transparent !important;
}

#urlbar {
  color: var(--frost_color3) !important;
}
.urlbarView-url {
  color: var(--snow_color1) !important;
}

/*================== SIDEBAR ==================*/
#sidebar-box,
.sidebar-panel[lwt-sidebar-brighttext] {
  background-color: var(--night_color1) !important;
}
#sidebar-header {
  border-color: var(--night_color2) !important;
}
.sidebar-splitter {
  border-color: var(--night_color2) !important;
}

#sidebar-switcher-bookmarks > .toolbarbutton-icon,
#sidebar-box[sidebarcommand="viewBookmarksSidebar"] > #sidebar-header > #sidebar-switcher-target > #sidebar-icon,
#sidebar-header,
#sidebar-title {
  color: var(--frost_color3) !important;
}
#sidebar-switcher-target:hover,
#sidebar-switcher-target:hover:active,
#sidebar-switcher-target.active,
#viewButton:hover,
#viewButton[open] {
  background-color: var(--night_color2) !important;
}
.sidebar-placesTreechildren {
  color: var(--frost_color3) !important;
}
#search-box,
.search-box {
  -moz-appearance: none !important;
  background-color: var(--night_color2) !important;
  border-radius: 3px !important;
  color: var(--frost_color3) !important;
}
.content-container {
  background-color: var(--night_color1) !important;
  color: var(--frost_color3) !important;
}
#viewButton {
  color: var(--frost_color3) !important;
}

/* THIS SHOWS BOOKMARKS ONLY WHEN HOVERING TOOLBAR */

#PersonalToolbar {
  --uc-bm-height: 24px; /* Might need to adjust if the toolbar has other buttons */
  --uc-bm-padding: 4px; /* Vertical padding to be applied to bookmarks */
  --uc-autohide-toolbar-delay: 600ms; /* The toolbar is hidden after 0.6s */

  /* 0deg = "show" ; 90deg = "hide" ;  Set the following to control when bookmarks are shown */
  --uc-autohide-toolbar-focus-rotation: 0deg; /* urlbar is focused */
  --uc-autohide-toolbar-hover-rotation: 0deg; /* cursor is over the toolbar area */
}

:root[uidensity="compact"] #PersonalToolbar {
  --uc-bm-padding: 1px;
}
:root[uidensity="touch"] #PersonalToolbar {
  --uc-bm-padding: 7px;
}

#PersonalToolbar:not([customizing]) {
  position: relative;
  margin-bottom: calc(0px - var(--uc-bm-height) - 2 * var(--uc-bm-padding));
  transform: rotateX(90deg);
  transform-origin: top;
  transition: transform 135ms linear var(--uc-autohide-toolbar-delay) !important;
  z-index: 1;
}

#PlacesToolbarItems > .bookmark-item,
#OtherBookmarks,
#PersonalToolbar > #import-button {
  padding-block: var(--uc-bm-padding) !important;
}

#nav-bar:focus-within + #PersonalToolbar {
  transition-delay: 100ms !important;
  transform: rotateX(var(--uc-autohide-toolbar-focus-rotation, 0));
}

#navigator-toolbox:hover > #PersonalToolbar {
  transition-delay: 100ms !important;
  transform: rotateX(var(--uc-autohide-toolbar-hover-rotation, 0));
}

#navigator-toolbox:hover > #nav-bar:focus-within + #PersonalToolbar {
  transform: rotateX(0);
}

/* Uncomment to enable compatibility for multi-row_bookmarks.css */
/* This would break buttons placed in the toolbar but that is likely not happening if you are using multi-row setup  */
/*
#PersonalToolbar:not([customizing]){
  position: fixed;
  display: block;
  margin-bottom: 0px !important;
}
*/

/* CONTEXT MENU STYLE */
/* panel richlistbox,
panel tree,
panel button,
panel menulist,
panel textbox,
panel input,
menupopup,
menu,
menuitem {
  -moz-appearance: none !important;
}

menulist,
menuitem,
menu {
  min-height: 1.8em;
}

panel menulist {
  border: 1px solid transparent;
}

panel richlistbox,
panel tree,
panel button,
panel menulist,
panel textbox,
panel input,
panel #searchbar,
menupopup:not(#BMB_bookmarksPopup),
#main-menubar > menu > menupopup,
#context-navigation {
  color: var(--uc-menu-color) !important;
  padding: 2px;
  background-color: var(--uc-menu-bkgnd) !important;
  border-color: var(--uc-menu-disabled) !important;
  border-radius: 3px !important;
}

panel textbox input {
  padding: 2px !important;
}

panel input {
  border-width: 1px;
  border-style: solid;
  background-color: rgba(0, 0, 0, 0.1) !important;
}
panel #searchbar {
  background-color: rgba(0, 0, 0, 0.1) !important;
  padding: 0 !important;
}
panel #searchbar input {
  background-color: transparent !important;
}

panel menulist:hover,
panel menulist[open] {
  border-color: Highlight !important;
}

#editBMPanel_folderMenuList > menupopup > menuitem {
  color: var(--uc-menu-color) !important;
}

panel treechildren::-moz-tree-row(selected),
panel button:hover,
menu:hover,
menu[_moz-menuactive],
menu[open],
menuitem:hover,
menuitem[_moz-menuactive] {
  background-color: var(--uc-menu-dimmed) !important;
  color: inherit !important;
}

menu[disabled="true"],
menuitem[disabled="true"] {
  color: var(--uc-menu-disabled) !important;
}

menu:not(.subviewbutton) > .menu-right {
  filter: invert(1);
} */

/* Dark context menus */

.subviewbutton.panel-subview-footer,
.panel-footer {
  background: var(--arrowpanel-background) !important;
  border-radius: 4px;
}

menuitem.panel-subview-footer:not(:is([disabled], :active))[_moz-menuactive],
.subviewbutton.panel-subview-footer:not(:is([disabled], [open], :active)):is(:hover, :focus) {
  background: var(--arrowpanel-dimmed) !important;
}

menuitem.panel-subview-footer:not([disabled])[_moz-menuactive]:active,
.subviewbutton.panel-subview-footer:not([disabled]):is([open], :hover:active) {
  background: var(--arrowpanel-dimmed-further) !important;
  box-shadow: none !important;
}

menupopup,
menu,
menuitem,
menucaption {
  -moz-appearance: none !important;
  border-radius: 4px;
}

menu,
menuitem,
menucaption {
  min-height: 1.8em;
}

.bookmark-item,
.menu-iconic,
.menuitem-iconic {
  max-height: 24px !important;
  line-height: 16px !important;
  border: none !important;
}

.menu-accel,
.menu-iconic-accel,
.menu-text,
.menu-iconic-text,
.menu-iconic-highlightable-text {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

#context-navigation .menuitem-iconic {
  max-height: none !important;
}

menupopup:not(.PanelUI-subView),
#main-menubar > menu > menupopup,
#context-navigation,
menucaption {
  color: var(--uc-menu-color) !important;
  background: var(--uc-menu-bkgnd) !important;
  border-color: var(--uc-menu-border) !important;
  border-radius: 4px;
}

.menu-iconic-left,
.menu-iconic-text,
.menu-iconic-highlightable-text {
  color: var(--uc-menu-color) !important;
}

menu:hover:not(.panel-subview-footer),
menu[_moz-menuactive]:not(.panel-subview-footer),
menu[open]:not(.panel-subview-footer),
menuitem:hover:not(.panel-subview-footer),
menuitem[_moz-menuactive]:not(.panel-subview-footer) {
  background-color: var(--uc-menu-dimmed) !important;
  color: inherit !important;
}

menu:not(.subviewbutton) > .menu-right {
  filter: invert(1);
}

menu:not(.subviewbutton)[disabled="true"] > .menu-right {
  filter: none;
  color: var(--uc-menu-disabled) !important;
}

.menu-iconic-left[disabled="true"],
.menu-iconic-text[disabled="true"],
.menu-iconic-highlightable-text[disabled="true"],
.bookmark-item[disabled="true"],
.menu-iconic[disabled="true"],
.menuitem-iconic[disabled="true"],
menu[disabled="true"],
menuitem[disabled="true"],
menucaption[disabled="true"],
.menu-iconic-left[disabled="true"][_moz-menuactive],
.menu-iconic-text[disabled="true"][_moz-menuactive],
.bookmark-item[disabled="true"][_moz-menuactive],
.menu-iconic[disabled="true"][_moz-menuactive],
.menuitem-iconic[disabled="true"][_moz-menuactive],
menu[disabled="true"][_moz-menuactive],
menucaption[disabled="true"][_moz-menuactive],
menuitem[disabled="true"][_moz-menuactive] {
  color: var(--uc-menu-disabled) !important;
}

menupopup:not(.PanelUI-subView) {
  padding: 4px 0px !important;
}

menupopup menuitem:not(.subviewbutton),
menupopup menu:not(.subviewbutton),
#contentAreaContextMenu menuitem,
#contentAreaContextMenu menu {
  padding: 4px 8px !important;
}

#context-navigation {
  padding: 0px !important;
}

#BMB_bookmarksPopup menupopup[placespopup="true"] {
  background: transparent !important;
}

menuseparator:not(.PanelUI-subView) {
  -moz-appearance: none !important;
  margin: 4px 10px !important;
  height: 1px !important;
  border: none !important;
  background: var(--uc-menu-separator) !important;
  padding: 0 !important;
}

treechildren::-moz-tree-separator {
  border-color: var(--uc-menu-separator) !important;
  border-bottom: none !important;
}

.PanelUI-subView menuseparator,
#context-sep-navigation {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.PanelUI-subView menuseparator.small-separator {
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.panel-subview-body {
  padding: 4px 0 !important;
}

#widget-overflow-mainView > .panel-subview-body > toolbarseparator,
.PanelUI-subView menuseparator,
.PanelUI-subView toolbarseparator,
.cui-widget-panelview menuseparator,
.cui-widget-panel toolbarseparator {
  margin: 4px 0 !important;
}

.PanelUI-subView toolbarseparator[orient="vertical"] {
  margin-inline-start: 6px !important;
  margin-inline-end: 7px !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

toolbaritem#appMenu-fxa-container.toolbaritem-combined-buttons {
  margin-inline-end: 0px !important;
}

.customization-uidensity-menuitem {
  max-height: none !important;
}

toolbarbutton.subviewbutton.highlight.subviewbutton-iconic.bookmark-item {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
