/*================ GLOBAL COLORS ================*/
:root {
  --night_color1: #191a21; /* Background */
  --night_color2: #21222c; /* URL bar and unselected tab */
  --night_color3: #313341; /* Hover on tab */
  --night_color4: #6273a43a; /* Selected tab */

  --snow_color1: #bb76b7; /* Text on URL dropdown */
  --snow_color3: #7d9bf7; /* Selected tab text */

  --frost_color3: #6272a4; /* Text and icons */

  /* Popup panels */
  --arrowpanel-background: #191a21 !important;
  --arrowpanel-border-color: #21222c !important;
  --arrowpanel-color: #7d9bf7 !important;
  --arrowpanel-dimmed: rgba(0, 0, 0, 0.4) !important;

  /* Context Menu */
  --uc-menu-bkgnd: #191a21;
  --uc-menu-color: #7d9bf7;
  --uc-menu-dimmed: #313341;
  --uc-menu-disabled: rgba(68, 75, 99, 0.5);

  --uc-menu-separator: rgba(68, 75, 99, 0.1);
  --uc-menu-border: rgba(68, 75, 99, 0.1);
  --arrowpanel-background: rgb(29, 29, 36) !important;
  --arrowpanel-dimmed: rgba(68, 75, 99, 0.1) !important;
  --arrowpanel-dimmed-further: rgba(68, 75, 99, 0.15) !important;
  --arrowpanel-dimmed-even-further: rgba(68, 75, 99, 0.2) !important;
  --arrowpanel-border-color: rgba(68, 75, 99, 0.5) !important;
}

@media (prefers-color-scheme: dark) {
  :root {
    --page_bg_color: var(--night_color1);
    --search_bg_color: var(--night_color2);
    --search_border_color: var(--night_color3);
    --search_border_active_color: var(--night_color4);
    --search_txt_color: var(--frost_color3);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --page_bg_color: var(--snow_color1);
    --search_bg_color: var(--snow_color2);
    --search_border_color: var(--snow_color3);
    --search_border_active_color: var(--snow_color3);
    --search_txt_color: var(--night_color4);
  }
}

/*================== NEW TAB BG COLOR ==================*/
@-moz-document url("about:newtab"), url("about:home"), url("about:blank") {
  body.activity-stream {
    background-color: var(--page_bg_color) !important;
  }
}

/*================== SEARCH BAR ==================*/
.search-wrapper input {
  transition: all 0.3s ease !important;
  background: var(--search_bg_color) var(--newtab-search-icon) 12px center no-repeat !important;
  background-size: 20px !important;
  border: 1px solid !important;
  border-color: var(--search_border_color) !important;
  box-shadow: none !important;
  color: var(--search_txt_color) !important;
}
.search-wrapper .search-inner-wrapper:hover input,
.search-wrapper .search-inner-wrapper:active input,
.search-wrapper input:focus {
  border-color: var(--search_border_active_color) !important;
}

.search-wrapper .search-button,
.search-wrapper .search-button {
  transition: all 0.3s ease !important;
  fill: var(--search_txt_color) !important;
}
.search-wrapper .search-button:focus,
.search-wrapper .search-button:hover {
  background-color: var(--search_border_active_color) !important;
}

/*================== SEARCH BAR RESULTS ==================*/
.contentSearchSuggestionTable .contentSearchSuggestionsContainer,
.contentSearchSuggestionTable .contentSearchHeader {
  background-color: var(--search_bg_color) !important;
  color: var(--search_txt_color) !important;
}
.contentSearchSuggestionTable .contentSearchSuggestionRow.selected,
.contentSearchSuggestionTable .contentSearchOneOffItem.selected {
  background-color: var(--search_border_color) !important;
}

.contentSearchSuggestionTable .contentSearchHeader,
.contentSearchSuggestionTable .contentSearchSettingsButton,
.contentSearchSuggestionTable .contentSearchOneOffsTable {
  border-color: var(--search_border_color) !important;
}

.contentSearchSuggestionTable {
  box-shadow: none !important;
  border: 1px solid var(--search_border_color) !important;
  border-radius: 3px !important;
}
